* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
  }

  body {
      display: flex-column;
      /* border: 5px solid green; */
      margin: 8px;
      background-color: #296680;
  }

  h1 {
    display: flex; 
    justify-content: flex-start;
    font-size: 60px;
    border-bottom: 5px dotted white;
    color: white;
  }

  main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: flex-start;
      /* border: 5px solid yellow; */
      margin-bottom: 50px;
      background-color: #3b8a9f;
      border-radius: 25px;
  }

  section {
      display: flex;
      text-align: center;
  }

  .words {
      text-decoration: underline;
  }

  main p {
      /* display: inline; */
      /* text-align: inline; */
      padding: 15px;
      font-size: 25px;
      color: white;
  }

  div{
      text-align: center;
  } 

  form {
      text-align: center;
  }

  input {
      font-size: 18px;
      margin-bottom: 50px;
  }
  